<fieldset>
    <label>People</label>
    <c-input-autocomplete (searchEvent)="searchPeople($event)">
        <c-autocomplete-option *ngFor="let u of people$ | async">
            {{u.name}}
        </c-autocomplete-option>
    </c-input-autocomplete>
</fieldset>

<fieldset>
    <label>Starships</label>
    <c-input-autocomplete (searchEvent)="searchShips($event)">
        <c-autocomplete-option *ngFor="let u of ships$ | async">
            {{u.name}}
        </c-autocomplete-option>
    </c-input-autocomplete>
</fieldset>